

.etude{
    background-color: var(--purple);
    color: var(--bg);
}

.etude img, .etude-1 img{
    height: 148px;
    float: right;

}


div[class^="etude"] {
    margin: 2rem;
    padding: 2rem 2rem 9.3rem 2rem;
    border-radius: 28px;
}


.container-1 h1{
    margin: 2rem; 
    padding: 2rem 0 0 2rem;
}

.etude-1{
    background-color: var(--main);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25)
}

.etude-1 a{
    display: block;
    width: 90px;
}

.view {
    background-color: var(--purple);
    width: 75px;
    padding: 0.5rem;
    text-align: center;
    border-radius: 15px;
    color: var(--main);
    transition: 0.5s ease;
}

.view:hover {
    background-color: var(--black);
}


@media screen and (min-width: 1024px) {

    .container-1{
        max-width: 90vw;
        margin: 0 auto;
        padding-bottom: 5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }

    .container-1 h1{
        margin: 0 2rem 2rem; 
        padding: 0 0 0 2rem;
    }

    .etude{
        display: flex;
        height: 83px;
        padding: 2rem !important;
        grid-column: 1 / 3;
        grid-row: 1;
    }

    .etude p{
        width: 60vw;
    }

    .etude img{
        float: none;
        position:relative;
        bottom: 75px;
        left: 85px;
        height: 190px;
    }

    
}