div[class^="bloc-"] {
    width: 60vw;
    overflow-x: hidden;
    margin: 2rem auto;
    padding: 2rem 2rem 4rem 2rem;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    background-color: var(--main);
    overflow-y: auto;
    border-radius: 30px;
}

div[class^="bloc-"] h1{
    margin-bottom: 1.5rem;
}

div[class^="bloc-"]::-webkit-scrollbar  {
    width: 10px;
}

div[class^="bloc-"]::-webkit-scrollbar-thumb   {
    background-color: var(--purple);
    border-radius: 30px;
}

div[class^="bloc-"] p {
    margin-top: 0;
}

div[class^="bloc-"] h2{
    margin-bottom: 0;
    max-width: 125px;
}

.bloc-2a .matiere-date, .bloc-4a .matiere-date, .bloc-3a .matiere-date {
    margin-bottom: 1rem;
}

.bloc-1a {
    grid-column: 1;
    grid-row: 1/3;
    height: 60vh;
}

.bloc-2a {
    grid-column: 2;
    grid-row: 1;
    height: 25vh;
}

.bloc-3a {
    grid-column: 2;
    grid-row: 2;
    height: 25vh;
}

.bloc-4a {
    grid-column: 3;
    grid-row: 1/3;
    height: 60vh;
}

.bloc-1a  p, .bloc-2a p{
    font-size: 0.75rem;
}

.bloc-3a p{
    margin: 0;
}

.matiere-date {
    display: flex;
    justify-content: space-between;
    /* align-items: center; c'est plus beau sans à mon avis */
}

.matiere-date p {
    font-size: 0.8rem;
    color: rgb(100, 99, 99);
    margin-top: 25px;
}

.container h2 {
    font-size: 1rem;
    font-weight: 500;

}

.bouton a {
    margin-top: 10px;
    margin-left: 150px;
}


@media screen and (min-width: 1024px) {

    div[class^="bloc-"] {
        width: 20vw;
        padding: 2rem;
        margin: auto;
    }

    .container {
        max-width: 80vw;
        height: 70vh;
        margin: 0 auto;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
    }


}