@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,700;1,9..40,400&family=Inter:wght@300;400;500;600;700&display=swap');


body {
    margin: 0;
    background-color: var(--bg);
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}

:root {
    --main: #ffffff;
    --black: #000000;
    --purple: #6C63FF;
    --bg: #f5f6fb;
    --grey: #414141;
    --blue: #1a1545;

}

*::-webkit-scrollbar {
    width: 1px;
}

*::-webkit-scrollbar-track {
    background-color: var(--main);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--main);
}

a {
    text-decoration: none;
    color: var(--black);
    transition: 0.5s ease;
}

li a:hover {
    opacity: 0.6;

}

li {
    list-style-type: none;
}

header a {
    font: 400 1rem "Inter", sans-serif;
}

h1,
h2 {
    font-size: 1rem;
}

h2 {
    margin-top: 0;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--main);
    padding: 10px 0px;
    margin: 20px 25px;
    gap: 1rem;
    border-radius: 55px;

}

/* Fond noir */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1;
}


ul li:nth-child(4) a {
    text-transform: uppercase;
}

ul li:nth-child(1) a {
    margin-top: 1.5rem;
}

ul li:nth-child(5) a {
    margin-bottom: 1.5rem;
}

.burger {
    display: none;
    background-color: var(--main);
    position: fixed;
    overflow-y: scroll;
    top: 0;
    left: 0;
    height: 100vh;
    width: 85%;
    z-index: 2;
}

.burger a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.burger h2 {
    font-weight: 500;
}

#burger-menu {
    cursor: pointer;
    font-size: 20px;
}

.burger ul {
    border-top: 11px solid var(--bg);
    border-bottom: 11px solid var(--bg);
    margin: 0;
}

.choix-2 a {
    line-height: 30px;
}


.photo-1 {
    width: 85px;
    height: 85px;
    background-color: var(--bg);
    border-radius: 50%;
}

.profil-1 {
    display: flex;
    align-items: center;
    padding: 1rem 0rem 0rem 1rem;
}

.profil-2 h1 {
    margin-top: 0;
}

.profil-2 p {
    margin: 0;
    color: var(--grey);
    font-weight: 500;
}

.profil-3 {
    padding-left: 2rem;
}

.profil-3 h2 {
    font-size: 0.75rem;
}

.profil-3 p {
    font-size: 0.625rem;
    border-radius: 10px;
    background-color: var(--bg);
    width: 54vw;
    padding: 1rem;
}

.kelis {
    padding-bottom: 1rem;
}


.tools {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.tool {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 1.5rem;
    border-bottom: 1px solid var(--bg);
    border-right: 1px solid var(--bg);
    height: 80px;
}



.tool p {
    font-size: 0.75rem;
}

.tool img {
    height: 18px;
}

.choix,
.icon-photo {
    display: none;
}


/* Barre de recherche */

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
}

.input {
    width: 40vw;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 1px solid transparent;
    border-radius: 20px;
    outline: none;
    background-color: var(--bg);
    color: var(--black);
    transition: 0.3s ease;
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus,
input:hover {
    outline: none;
    border-color: var(--blue);
    background-color: #fff;
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #000000;
    width: 1rem;
    height: 1rem;
}

.bloc-1 {
    background-color: var(--purple);
    margin: 2rem;
    color: var(--bg);
    padding: 2rem;
    border-radius: 28px;
    display: flex;
}

.bloc-1 p {
    font-size: 0.75rem;
    font-weight: 300;
    width: 60vw;
}

.bloc-1 img {
    height: 100px;
    position: absolute;
    right: 10px;
    top: 225px;
}


.bloc-2 {
    background-color: var(--main);
    margin: 4rem 0;
    height: 240px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25)
}

.bloc-3,
.bloc-4,
.bloc-5,
.bloc-6 {
    margin: 2rem;
}

.bloc-3 h1,
.bloc-4 h1,
.bloc-5 h1,
.bloc-6 h1 {
    padding: 0 2rem;
}

.vp {
    text-align: end;
    transition: 0.5s ease;
    font-size: 0.75rem;
}

.vp:hover {
    color: var(--purple);
}

.cours {
    background-color: var(--main);
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25)
}

.cours p,
.card p {
    margin: 0;
}

.cours img {
    object-fit: cover;
    height: 20px;
}

.bloc-4,
.bloc-5,
.bloc-6 {
    margin-top: 5rem;
}

.graphique {
    background-color: var(--main);
    height: 290px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25)
}


.card {
    text-align: center;
    border-radius: 15px;
    background-color: white;
    margin: 2.5rem 0 10rem 0;
    font-size: 0.75rem;
    height: 290px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25)
}


.card img {
    width: 100%;
    height: 110px;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-bottom: 1.5rem;
}

.btn {
    background-color: var(--purple);
    margin: 1.5rem auto !important;
    width: 75px;
    padding: 0.3rem;
    border-radius: 20px;
    color: var(--main);
    transition: 0.5s ease;
}

.btn:hover {
    background-color: var(--black);
}

.bloc-7{
    display: none;
}





footer {
    background-color: #000;
    text-align: center;
    padding: 45px 0;
    margin-top: 70px;
}

footer a {
    color: var(--main);
    font-weight: 300;
}



/* Responsive */

@media screen and (min-width: 375px) {

    .profil-2 p,
    .burger h1,
    .burger h2 {
        font-size: 1rem;
    }

    .bloc-1 img {
        top: 210px;
    }

}


@media screen and (min-width: 425px) {
    .profil-3 {
        padding-left: 3rem;
    }

    .profil-1 {
        padding: 2rem 0rem 0rem 2rem;
    }

    .tool {
        padding-left: 2rem;
    }

    .bloc-1 img {
        top: 173px;
        height: 117px;
    }

}


@media screen and (min-width: 576px) {
    .bloc-1 img {
        top: 122px;
        height: 154px;
    }

    .bloc-1 p {
        width: 390px;
    }
}

@media screen and (min-width: 768px) {
    .menu {
        margin: 35px 55px;
    }

   
    .bloc-1 img {
        top: 113px;
        height: 181px;
        right: 59px;
    }

}


@media screen and (min-width: 1024px) {

    .navigation {
        display: flex;
        gap: 25px;
    }

    .menu {
        margin: 40px 15px;
    }


    .menu span,
    .burger,
    .overlay {
        display: none !important;
    }

    .choix {
        display: flex;
        gap: 3rem;
    }

    .input {
        width: 15vw;
    }

    .icon-photo {
        display: flex;
        gap: 1.5rem;
        align-items: center;
    }

    .photo-2 {
        width: 40px;
        height: 40px;
        background-color: var(--bg);
        border-radius: 50%;
    }

    .logo {
        cursor: pointer;
        height: 20px;
    }



    .container {
        max-width: 90vw;
        margin: 0 auto;
        padding-bottom: 5rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
    }

    .bloc-1 {
        height: 87px;
        grid-column: 1 / 3;
        grid-row: 1;
    }

    .bloc-2 {
        height: 75vh;
        border-radius: 28px;
        grid-column: 3 / 4;
        grid-row: 1 / 4;
    }

    .bloc-3 {
        grid-column: 1;
        grid-row: 2 / 3;
    }

    .bloc-4 {
        grid-column: 2;
        grid-row: 2/3;
    }

    .bloc-5 {
        grid-column: 1;
        grid-row: 3/5;
    }

    .bloc-6 {
        grid-column: 2;
        grid-row: 3/5;
    }

    .bloc-7 {
        display: block;
        background-color: var(--main);
        border-radius: 20px;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
        grid-column: 3;
        grid-row: 4 / 5;
    }

    div[class^="bloc-"] {
        margin: 0;
    }

    .bloc-1 img {
        position: relative;
        top: -49px;
        height: 168px;
        right: -10px;
    }
    
    .kelis-2{
        display: flex;
        justify-content: space-between;
        padding: 1rem 2rem;
    }
    
    .bloc-7 img{
        height: 50px;
        border-radius: 50px;
    }

    .bloc-7 p{
        min-width: 90px;
    }

    .card {
        margin: 2.5rem 0 0 0;
    }

    .p{
        color: #01B574;
        font-weight: 500;
    }




}

@media screen and (min-width: 1080px) {

    .navigation {
        gap: 2rem;
    }

    .bloc-1 p {
        width: 480px;
    }

}

@media screen and (min-width: 1200px) {
    .menu {
        margin: 40px 55px;
    }

    .navigation {
        gap: 3.5rem;
    }


}

@media screen and (min-width: 1440px) {
    .navigation {
        gap: 8.5rem;
    }


}