*,
*::after,
*::before {
    box-sizing: border-box;
}


html{
    background-color: #F4F7FE;
}


.result-container{
        width: 100%;
        margin: 0 auto;
        display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
      
}

.one {
   
    border: solid;
    border-radius: 30px ;
    background-color: white;

  }