@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,700;1,9..40,400&family=Inter:wght@300;400;500;600;700&display=swap');

body{
    margin: 0;
    background-color: var(--bg);
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}

:root {
    --main: #ffffff;
    --black: #000000;
    --purple: #4038b7;
    --bg: #f5f6fb;
    --grey: #414141;
    --blue: #1a1545;

}

*::-webkit-scrollbar {
    width: 1px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--main);
}

a {
    text-decoration: none;
    color: var(--black);
    transition: 0.5s ease;
}

li a:hover {
    opacity: 0.6;

}

li {
    list-style-type: none;
}

header a {
    font: 400 1rem "Inter", sans-serif;
}

h1,
h2 {
    font-size: 1rem;
}

h2 {
    margin-top: 0;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--main);
    padding: 10px 0px;
    margin: 20px 25px;
    gap: 1rem;
    border-radius: 55px;

}

/* Fond noir */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1;
}


ul li:nth-child(4) a {
    text-transform: uppercase;
}

ul li:nth-child(1) a {
    margin-top: 1.5rem;
}

ul li:nth-child(5) a {
    margin-bottom: 1.5rem;
}

.burger {
    display: none;
    background-color: var(--main);
    position: fixed;
    overflow-y: scroll;
    top: 0;
    left: 0;
    height: 100vh;
    width: 85%;
    z-index: 2;
}

.burger a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.burger h2 {
    font-weight: 500;
}

#burger-menu {
    cursor: pointer;
    font-size: 20px;
}

.burger ul {
    border-top: 11px solid var(--bg);
    border-bottom: 11px solid var(--bg);
    margin: 0;
}

.choix-2 a {
    line-height: 30px;
}


.photo-1 {
    width: 85px;
    height: 85px;
    background-color: var(--bg);
    border-radius: 50%;
}

.profil-1 {
    display: flex;
    align-items: center;
    padding: 1rem 0rem 0rem 1rem;
}

.profil-2 h1 {
    margin-top: 0;
}

.profil-2 p {
    margin: 0;
    text-transform: uppercase;
    color: var(--grey);
    font-weight: 500;
}

.profil-3 {
    padding-left: 2rem;
}

.profil-3 h2 {
    font-size: 0.75rem;
}

.profil-3 p {
    font-size: 0.625rem;
    border-radius: 10px;
    background-color: var(--bg);
    width: 54vw;
    padding: 1rem;
}

.btnDeconnexion{
    font-size: 0.75rem;
    background-color: transparent;
    border: transparent;
    padding: 0
}

.kelis {
    padding-bottom: 1rem;
}

.lettre{
    height: 20px;
}


.tools {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.tool a{
    padding: 0;
}

.tool {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 1.5rem;
    border-bottom: 1px solid var(--bg);
    border-right: 1px solid var(--bg);
    height: 80px;
}



.tool p {
    font-size: 0.75rem;
}

.tool img {
    height: 18px;
}

.choix,
.icon-photo {
    display: none;
}



footer {
    background-color: #000;
    text-align: center;
    padding: 45px 0;
    margin-top: 70px;
}

footer a {
    color: var(--main);
    font-weight: 300;
}

.fda ul{
    display: flex;
    align-items: center;
}

.fda li{
    margin: 1rem;
    font-weight: 600;
}


/* Barre de recherche */

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
}

.input {
    width: 40vw;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 1px solid transparent;
    border-radius: 20px;
    outline: none;
    background-color: var(--bg);
    color: var(--black);
    transition: 0.3s ease;
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus,
input:hover {
    outline: none;
    border-color: var(--blue);
    background-color: #fff;
}

.icon {
    position: absolute;
    left: 1rem;
    width: 1rem;
    height: 1rem;
}


@media screen and (min-width: 375px) {

    .profil-2 p,
    .burger h1,
    .burger h2 {
        font-size: 1rem;
    }

}


@media screen and (min-width: 425px) {
    .profil-3 {
        padding-left: 3rem;
    }

    .profil-1 {
        padding: 2rem 0rem 0rem 2rem;
    }

    .tool {
        padding-left: 2rem;
    }

    .bloc-1 img {
        top: 173px;
        height: 117px;
    }

}


@media screen and (min-width: 768px) {
    .menu {
        margin: 35px 55px;
    }
}



@media screen and (min-width: 1024px) {

    .navigation {
        display: flex;
        gap: 25px;
    }

    .menu {
        margin: 40px 15px;
    }


    .menu span,
    .burger,
    .overlay {
        display: none !important;
    }

    .choix {
        display: flex;
        gap: 3rem;
        padding-left: 0;
    }

    .input {
        width: 15vw;
    }

    .icon-photo {
        display: flex;
        gap: 1.5rem;
        align-items: center;
    }

    .photo-2 {
        width: 40px;
        height: 40px;
        background-color: var(--bg);
        border-radius: 50%;
    }

    .logo {
        cursor: pointer;
        height: 20px;
    }

    #btnDeconnexion {
        cursor: pointer;
        width: 20px;
        height: 20px;
        object-fit: cover;
        border: none;
        background-color: transparent;
    }

    .fda ul{
        margin-left: 2rem;
    }
}


@media screen and (min-width: 1080px) {

    .navigation {
        gap: 2rem;
    }

}

@media screen and (min-width: 1200px) {
    .menu {
        margin: 40px 55px;
    }

    .navigation {
        gap: 3.5rem;
    }


}

@media screen and (min-width: 1440px) {
    .navigation {
        gap: 8.5rem;
    }

}

.flex_bouton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
    background: none;
    border: none;
}
.dark_button {
    background: none;
    border: none;
    height: 20px;
    cursor: pointer;
}