*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --Leviolet: #6C63FF;
  }

html {
    scroll-behavior: smooth;
}
body {
    background-color: #F4F7FE;
}
.shadow {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
}
.shadow::after{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
}
.shadow::before {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
}
.border {
    border: solid #F4F7FE !important;
    opacity: 1;
}
main {
    max-width: 1100px;
    margin: auto;
}
/* PAGE MENU */
.carousel-inner {
    border: none;
    margin: auto;
}
.today .card {
    /* color: white; */
    text-align: center;
}
.today img {
    height: 9rem;
    object-fit: cover;
}
.today h3 {
    margin: 0;
    margin-top: 5px;
    font-size: 1rem;
}
.entre {
    margin-top: 20px !important;
}

.date {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.date button {
    position:relative !important;
}

/* DESKTOP */
.desktop {
    display: none;
    gap: 30px;
}
.desktop .card {
    height: 94%;
    max-height: 628px;
}
.menu_ajd {
    width: 35%;
    min-width: 250px;
}
.menu_autre {
    width: 50%;
    min-width: 220px;
    padding-bottom:15px ;
}
.violet {
    background-color: var(--Leviolet);
    color: white;
    border: none;
}
.desktop button {
    background-color: var(--Leviolet);
    color: white;
    max-width: 180px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}
.menu_autre .card {
    height: fit-content;
}
.menu_autre img {
    height: 6rem;
}
.menu_autre p {
margin: 0 !important;
}
.tous_les_menu {
    width: 80%;
}
h2 {
    margin: 0 !important;
}

@media screen and (min-width: 769px) {
    .desktop {
        display: flex;
    }
    .mobile {
        display: none;
    }
}